.profile {
  text-align: center;
  position: relative;
  padding-top: 6em;
  max-width: 860px;
  .content {
    margin-top: -100px;
    h1 {
      span {
        display: inline-block;
        border-bottom: solid 3px var(--green);
      }
    }
  }
}

@media (min-width:680px) {
  .profile {
    padding-top: 2em;
    margin: 0 auto;
    height: 310px;
    .content {
      margin-top: 0;
    }
  }
}
