<section class="education">
  <div class="wrapper">
    <h2>Certificados y Diplomas</h2>
    <p>Actualmente me encuentro realizando estudios en OpenBootcamp en la ruta de FullStack</p>
    <article class="education-slots">
      <div class="slot">
        <p class="title">ReactJS</p>
        <p class="text">OpenBootcamp</p>
        <p>2023</p>
        <a
          class="btn"
          href="../../../assets/images/cert/reactjsIntermedio.pdf"
          target="_blank">Mostrar Certificado</a>
      </div>
      <div class="slot">
        <p class="title">Angular</p>
        <p class="text">OpenBootcamp</p>
        <p>2023</p>
        <a
          class="btn"
          href="../../../assets/images/cert/angular.pdf"
          target="_blank">Mostrar Certificado</a>
      </div>
      <div class="slot">
        <p class="title">English learning</p>
        <p class="text">OpenBootcamp</p>
        <p>2020</p>
        <a
          class="btn"
          href="../../../assets/images/cert/diploma-idioma-ingles.pdf"
          target="_blank">Mostrar Certificado</a>
      </div>
      <div class="slot">
        <p class="title">Front-end Developer</p>
        <p class="text">Platzy</p>
        <p>2019</p>
        <a
          class="btn"
          href="../../../assets/images/cert/diploma-frontend-developer-2019.pdf"
          target="_blank">Mostrar Certificado</a>
      </div>
      <div class="slot">
        <p class="title">Programación Orientada a Objetos</p>
        <p class="text">Platzy</p>
        <p>2019</p>
        <a
          class="btn"
          href="../../../assets/images/cert/diploma-oop.pdf"
          target="_blank">Mostrar Certificado</a>
      </div>
      <div class="slot">
        <p class="title">Programación estructurada</p>
        <p class="text">OpenBootcamp</p>
        <p>2019</p>
        <a
          class="btn"
          href="../../../assets/images/cert/diploma-programacion-estructurada.pdf"
          target="_blank">Mostrar Certificado</a>
      </div>
    </article>
  </div>
</section>
