<section class="education">
  <div class="wrapper">
    <h2>Certificados y Diplomas</h2>
    <p>Actualmente me encuentro realizando estudios en OpenBootcamp en la ruta de FullStack</p>
    <article class="education-slots">
      <div class="slot">
        <p class="title">Certificación en ReactJS</p>
        <p class="text">OpenBootcamp</p>
        <p>2023</p>
        <a
          class="btn"
          href="../../../assets/images/cert/reactjsIntermedio.pdf"
          target="_blank">Mostrar Certificado</a>
      </div>
      <div class="slot">
        <p class="title">Certificación en Angular</p>
        <p class="text">OpenBootcamp</p>
        <p>2023</p>
        <a
          class="btn"
          href="../../../assets/images/cert/angular.pdf"
          target="_blank">Mostrar Certificado</a>
      </div>
    </article>
  </div>
</section>
