.education {
  background-color: var(--dark-grey);
  padding: 1.5em 0;
  text-align: center;
  margin-top: 2em;
  position: relative;
  &:before {
    color: var(--black);
    display: block;
    font-size: 90px;
    opacity: 0.4;
    font-weight: bold;
    content: "EDUCACION";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -12.5%;
  }

  .wrapper {
    width: 70%;
    margin: 0 auto;
    h2 {
      position: relative;
      z-index: 1;
      color: #8F2A8E;
    }
    .education-slots {
      margin: 4em 0;
      .slot {
        border: solid 1px #4d094b;
        background-color: var(--black);
        border-radius: 10px;
        padding: 1.5em;
        margin: 2em 0;
      }
      .btn {
        font-size: 12px;
        font-weight: bold;
        background: #32CF9B;
        text-decoration: none;
        padding: 8px 10px;
        border-radius: 10px;
        &:hover {
          background: #4d094b;
          color: #32CF9B;
        }
      }
    }
  }
  @media (min-width:680px) {
    padding-top: 5em;
    &:before {
      top: .4em;
    }
    .wrapper {
      .education-slots {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-flow: inherit;
        gap: 0 2em;
        .slot {
          margin-top: 0;
        }
      }
    }
  }
}
