<section class="services">
  <div class="services-header">
    <h2 translate>servicesTitle</h2>
    <div class="services-content">
      <div>
        <h3>¿Quieres convertirte en desarrollador FrontEnd? </h3>
        <p>En webWeebs aprenderás las habilidades necesarias para convertirte en un desarrollador front-end competitivo y con amplias capacidades.</p>

        <!--
        <img src="../../../assets/images/userInterface.png" alt="">
        <app-button text="START NOW"></app-button>
        <ul>
          <li>Introducción al desarrollo web y el concepto de la red frontal.</li>
          <li>Fundamentos de HTML, CSS y Javascript</li>
          <li>Uso de herramientas y frameworks, como React, Angular, Next.js</li>
          <li>Diseño y desarrollo de proyectos front-end completos.</li>
          <li>Pruebas y evaluación de calidad del código.</li>
        </ul>
        -->
      </div>
      <div>
        <!--
          <img class="sessions" src="../../../assets/images/onlineTeams.png" alt="">
        -->
        <h3>Sesiones online/hibridas</h3>
        <p>
          Ayudamos a nuestros estudiantes a alcanzar sus metas profesionales en un entorno interactivo, flexible y personalizado. ¡Inscríbete ya en nuestras sesiones de mentorías y conviértete en un desarrollador front-end altamente calificado!
        </p>
        <app-button text="START NOW"></app-button>
        <!--
          <ul>
          <li>Evaluación de habilidades y necesidades individuales de cada estudiante.</li>
          <li>Capacitación y orientación sobre programación con Javascript y sus particularidades.</li>
          <li>Tutoría y asesoramiento en el uso de tecnologías front-end, como React, Next, Angular, y Redux</li>
          <li>Orientación en la planificación y desarrollo de proyectos front-end completos.</li>
          <li>Pruebas y evaluación de calidad del código y solución de posibles problemas.</li>
          <li>Sugerencias y asesoramiento en el proceso de búsqueda de empleo y creación de un portafolio efectivo.</li>
        </ul>
        -->
      </div>
    </div>
  </div>
</section>
