<section class="skills">
  <div>
    <h3>HTML/SCSS</h3>
    <p>4 <span translate >experienceQuote</span></p>
  </div>
  <div>
    <h3>JAVASCRIPT</h3>
    <p>3 <span translate >experienceQuote</span></p>
  </div>
  <div>
    <h3>Accesibility</h3>
    <p>2 <span translate >experienceQuote</span></p>
  </div>
  <div>
    <h3>REACT</h3>
    <p>3 <span translate >experienceQuote</span></p>
  </div>
  <div>
    <h3>ANGULAR</h3>
    <p>2 <span translate >experienceQuote</span></p>
  </div>
  <div>
    <h3>NODE</h3>
    <p>1 <span translate >experienceQuote</span></p>
  </div>
</section>
