.skills, .actions {
  margin: 1em 0;
  h3 {
    font-size: 32px;
    font-weight: bolder;
  }
  p {
    font-size: 16px;
  }
}

.actions {
  gap: 2em;
  margin-top: 4em;
  flex-direction: row;
}

.d-flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
}

.skills-content {
  text-align: center;
  padding: 1em 0;
  margin:4em 0;
  .skills {
    h3, p {
      margin: 0;
    }

    p {
      margin-bottom: 4em;
    }
  }

  svg {
    width: 80%;
    height: auto;
  }
}

.op-5 {
  opacity: .5;
}

@media (min-width:680px) {
  .skills {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .skills-content {
    svg {
      width: 30%;
    }
  }
}
