<header>
  <app-nav-bar space="large"></app-nav-bar>
</header>
<main class="content main about-me" role="main">
  <div class="about-me-hero">
    <div class="content">
      <h1>Emilio L Quilodran</h1>
      <p>
        Mi objetivo es utilizar mi experiencia en desarrollo web para crear soluciones tecnológicas accesibles y equitativas que empoderen a las personas y promuevan el progreso social.
      </p>
      <p>
        ¿Alguna vez has sentido la necesidad de trabajar en equipo, crecer y progresar como desarrollador front-end de una manera divertida y eficiente? Eso es exactamente lo que me inspiró a crear CodeCraft: Front-End Edition y establecer una comunidad enfocada en el trabajo colaborativo y el aprendizaje continuo.
      </p>
      <p>Eso es exactamente lo que me inspiró a crear CodeCraft: Front-End Edition y establecer una comunidad enfocada en el trabajo colaborativo y el aprendizaje continuo.</p>
    </div>
    <div class="img">
      <img src="../../../assets/images/avatar.jpg" alt="">
    </div>
  </div>
  <app-services></app-services>
  <div class="about-projects">
    <h1 class="">Conoce mis proyectos</h1>
    <p class="">Proyectos que me han servido para trabajar en mis Soft Skills y obtener experiencias en nuevas tecnologias.</p>
    <app-button text="ver proyectos"></app-button>
  </div>
</main>
<footer>
  <p>© Copyright 2023. All Rights Reserved.</p>
</footer>
